html,
body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    color: #6C6F73;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}

h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

img {
    max-width: 100%;
}

.blockquote {
    padding: 0;
    border: none;
    color: #333;
    font-size: 1.6rem;
}

.blockquote-footer {
    margin: 1rem 0 0;
}

.section-stage {
    background: url(../img/stage.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #FFF;
    display: flex;
    align-items: center;
}

.transparent-div {
    border-radius: 2rem;
    max-width: 60rem;
    background: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    margin: 0 auto;
}

.transparent-div .stage-caption {
    font-size: 1.2rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

.transparent-div .stage-caption h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
}

.feature-content {
    padding: 5rem 0;
    overflow: hidden;
}

.feature-content img {
    margin-bottom: -5rem;
}

.feature-dark {
    background: #262F36;
    color: #FFF;
}

.feature-dark h2,
.feature-dark h6 {
    color: #FFF;
    max-height: 400px;
}

section#feature-4 {
    background: #F0F0F0;
}

section#feature-4 .feature-content {
    padding-top: 0;
}

.blockquote-footer {
    padding: 0;
    background: none;
}

section#feature-5 img {
    margin-top: 2rem;
}

#siteFooter {
    background: #262F36;
    color: #FFF;
    padding: 3rem 0;
    font-size: 0.8rem;
}

#siteFooter h6 {
    color: orange;
}

#siteFooter ul li a {
    color: #6C6F73;
}

#siteFooter a {
    font-size: 1rem;
    color: orange;
}

#siteFooter a:hover {
    color: orangered;
}

@media screen and (min-width: 991px) {
    .feature-content {
        display: flex;
        align-items: center;
    }
}

